* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(to bottom, rgb(224, 224, 224), rgb(184, 184, 184));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#main-logo-id {
    margin: 5px 15px;
}

.catalog,
.subcatalog {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-catalog,
.item-subcatalog { 
    width: 200px;
    height: 200px;
    border: 1px dotted gray;
    margin: 5px;
    list-style: none;
    border-radius: 20px;
}

.item-catalog:hover,
.item-subcatalog:hover {
    box-shadow: 0 0 20px 3px rgb(255, 193, 193);
    position: relative;
    top: 1px;
}

.item-catalog:active,
.item-subcatalog:acitve {
    box-shadow: 0 0 20px 3px rgb(255, 169, 169);
    position: relative;
    top: 2px;
}

.item-catalog img,
.item-subcatalog img {
    border-radius: 10%;
}

.btn-back {
    color: rgb(146, 35, 35);
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.btn-back:hover {
    box-shadow: 0 1px 1px 1px rgb(199, 138, 138);
}

.btn-back:active {
    box-shadow: 0 1px 1px 2px rgb(199, 138, 138);
}

.btn-back:focus {
    outline: 0;
}

.header-title {
    display: flex;
}

.main-title {
    margin: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 30pt;
}